body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

h1 {
    color: #ffffff;
    text-align: center;
    padding: 25px 0;
}

p {
    color: #ff0000;
    line-height: 1.6;
    padding: 0 20px;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
button:hover {
    background-color: #188576;
}
