body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1b1a1a;
}

h1 {
    color: #ffffff;
    text-align: center;
    padding: 25px 0;
}

h2 {
    color: #ffffff;
    text-align: center;
    padding: 25px 100px;
}

/* Style du paragraphe */
p {
    color: #ff0000;
    text-align: center;
    font-size: 30px;

    line-height: 2;
    padding: 0 20px;
}
.p1 {
    color: #ffffff;
    text-align: center;
    font-weight: bold;

    font-size: 20px;

    line-height: 1.6;
    padding: 0 20px;
}
/*  Style du bouton */
button {
    display: flex;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    gap: 200px;
    background-color: #555555;
    color: #ffffff;
    transition: 0.2s;
    
}
button:hover {
    background-color: #188576;
    transform: scale(1.05);
}


menu1-btn-content, menu2-btn-content {
    display: none;
    margin-top: 20px;
    justify-content: center;
    border:1px solid #ff0000;
    padding: 10px;
    background-color: #ffffff;
}

#menus {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.menu-content {
    /* Ajoutez cette classe pour gérer l'animation */
   max-height: 0;
   /* Ajustez cette valeur en fonction de la hauteur maximale attendue */

   overflow: hidden;
   /* Pour masquer le contenu débordant */

   transition: max-height 0.4s ease-out;
      /* Animation de transition */
}
.menu-content.show {
   max-height: 500px; /* Ajustez cette valeur en fonction du contenu */
}

/*amelioration possible : Styles pour le bouton actif */

/* .menu-btn {
    border: none;
    background: none;
    cursor: pointer;
    text-align: center;
}

.btn-icon {
    width: auto;
    transition: opacity 0.3s ease;
}
.btn-text {

    font-size: 20px;
    display: none;
    font-weight: bold;
    justify-content: center;
}

.menu-btn.active .btn-icon {
    opacity: 0;
}

.menu-btn.active .btn-text {
    display: inline-block;
} */