body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #666666;
}

h1 {
    color: #ffffff;
    text-align: center;
    padding: 25px 0;
}

h2 {
    color: #ffffff;
    text-align: center;
    padding: 25px 100px;
}

/* Style du paragraphe */
p {
    color: #ff0000;
    text-align: center;
    font-size: 30px;

    line-height: 2;
    padding: 0 20px;
}
.p1 {
    color: #0000ff;
    text-align: center;
    font-weight: bold;

    font-size: 20px;

    line-height: 1.6;
    padding: 0 20px;
}
/*  Style du bouton */
button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    gap: 200px;
}
button:hover {
    background-color: #188576;
}


menu1-btn-content, menu2-btn-content {
    display: none;
    margin-top: 20px;
    justify-content: center;
    border:1px solid #000000;
    padding: 10px;
    background-color: #ffffff;
}

